<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/styles/main.css' />


  </head>
  <body>
    <%for (const thing of art_tiles) { %>
      <div>
          <a href="<%= thing.webPath %>">
            <img src="<%= thing.thumbnail %>"/>
          </a>
      </div>
    <%}%>
  </body>
</html>
